body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header,
.hero,
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #1f2937;
    padding: 18px 72px;
}

.info,
.action {
    background-color: #ffffff;
    padding: 48px 72px;
}

.quote {
    padding: 84px 72px;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 72px 72px;
}

.action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px
}

.action-container {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 18px;
    padding: 18px 64px;
}

blockquote {
    width: 60%;
    margin: 0 auto;
    color: #1f2937;
}

cite {
    display: block;
    width: 60%;
    margin: 0 auto;
    text-align: right;
    color: #1f2937;
}

.logo h1 {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero h1 {
    margin-top: 0px;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.nav-bar .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .nav li {
    list-style: none;
    margin: 0px 0px 0px 20px;
}

.nav-bar .nav a,
a,
.hero p {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    line-height: 1.5;
    text-align: justify;
}

.hero a {
    text-decoration: underline;
}

.right img {
    display: block;
    margin-left: 32px;
    width: 500px;
    height: auto;
    padding-bottom: 32px;
}

.btn {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 8px 18px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

.info h1 {
    text-align: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card img {
    width: 200px;
    height: auto;
    border: 5px solid #3882f6;
    border-radius: 8px;
}

.card p {
    text-align: center;
    width: 200px;
}

.footer {
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
}